/* ---------------------------
Font Declarations 
--------------------------- */

@font-face {
    font-family: 'Istok Web';
    src: url('../assets/fonts/IstokWeb-Bold.eot');
    src: url('../assets/fonts/IstokWeb-Bold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/IstokWeb-Bold.woff') format('woff'), url('../assets/fonts/IstokWeb-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Istok Web';
    src: url('IstokWeb-Regular.eot');
    src: url('../assets/fonts/IstokWeb-Regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/IstokWeb-Regular.woff') format('woff'), url('../assets/fonts/IstokWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}